@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Redressed&display=swap');

.font1{
    font-family: 'Merriweather', serif;
}
.font2{
    font-family: 'Redressed', cursive;
}
.cc-navbar{
    font-family: 'Merriweather', serif;
    background-color: rgba(0, 0, 0, 0.50);
    box-shadow: 1px 1px 3px rgb(255, 255, 255, 0.54);
}
.btn-order{
    color: var(--bs-teal);
    border-color: var(--bs-teal);
    transition: .5s;
}
.btn-order:hover,
.btn-order:active,
.btn-order:focus{
    background-color: var(--bs-teal);
    color: #fff;
}
 /* Partie banniere  */
 .banner{
     background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(/img/red.jpg);
     background-position: center center;
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
     height: 800px;
     z-index: 1;
 }